[Unit]
Description=Find the bubblesnet-controller device on mdns

[Service]
ExecStart=/bin/bash -c "avahi-resolve -n -4 bubblesnet-controller.local > /config/bubblesnet-controller.txt"

[Install]
WantedBy=basic.target